.dataGreed {
    font-size: 14px;
}


/* -- */

.dataGreedPagination {
    color: #000;
    background-color: #f2f2f2;
    font-size: 14px;
}

.dataGreedPagination div.entries select {
    width: 70px;
    cursor: pointer;
    text-align-last: right;
}

.dataGreedPagination div.entries select option {
    direction: rtl;
}


/* --- */

.dataGreed .scrollTableVertical tbody {
    display: block;
    max-height: 200px;
    overflow-y: auto;
}

.dataGreed .scrollTableVertical thead,
.dataGreed .scrollTableVertical tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.dataGreed .scrollTableVertical thead {
    width: calc( 100% - 1em)
}


/* -- */

.dataGreed .horizontal-scrollable {
    overflow-x: auto;
    white-space: nowrap;
}

.dataGreed .horizontal-scrollable>table {
    float: none;
}


/* -- */

.dataGreed .noDynamicTableLoader {
    top: -1px;
    left: 0px;
    height: 1px;
}

.dataGreed .dynamicTableLoader {
    background-color: #eaeaea;
    height: 100%;
    z-index: 5;
    top: -1px;
    left: 0px;
    opacity: 0.5;
}

.dataGreed .order {
    cursor: pointer;
}

.dataGreed .order:before {
    position: absolute;
    bottom: 13px;
    right: 4px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #868686 transparent transparent transparent;
}

.dataGreed .order:after {
    position: absolute;
    right: 4px;
    top: 13px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #868686 transparent;
}

.dataGreed .order.asc,
.dataGreed .order.desc {
    background-color: #343a40;
    color: #fff;
}


/* https://triangle.designyourcode.io/ */

.dataGreed .order.asc:before {
    border-color: #fff transparent transparent transparent;
}

.dataGreed .order.desc:after {
    border-color: transparent transparent #fff transparent;
}


/* --- */

.dataGreed * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* -- */

@media screen and (max-width: 600px) {
    table.rr {
        border: 0;
    }
    table.rr caption {
        font-size: 14px;
    }
    table.rr thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table.rr tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table.rr td {
        border-bottom: 1px solid #ddd;
        display: block;
        _font-size: .8em;
        font-size: 14px;
        text-align: right;
    }
    table.rr td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table.rr td:last-child {
        border-bottom: 0;
    }
}


/* -- */

.dataGreed textarea::-webkit-input-placeholder,
.dataGreed input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ababab!important
}

.dataGreed textarea::-moz-placeholder,
.dataGreed input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ababab!important;
}

.dataGreed textarea:-moz-placeholder,
.dataGreed input:-moz-placeholder {
    /* Firefox 18- */
    color: #ababab!important;
}

.dataGreed textarea::placeholder,
.dataGreed input::placeholder {
    color: #ababab!important;
}


/*
    FOCUS
*/

.dataGreedToolBar .form-control:focus,
.dataGreedToolBar input[type='text']:focus,
.dataGreedToolBar input[type='range']:focus,
.dataGreed .form-control:focus,
.dataGreed input[type='text']:focus,
.dataGreed input[type='range']:focus {
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(187, 227, 17, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(187, 227, 17, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(187, 227, 17, 0.6);
    border-color: #8EC9F7;
    background-color: #F7F9FB;
}

.dataGreedToolBar .form-control:focus,
.dataGreedToolBar input[type='text']:focus,
.dataGreedToolBar input[type='range']:focus,
.dataGreed .form-control:focus,
.dataGreed input[type='text']:focus,
.dataGreed input[type='range']:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.dataGreed .form-control
/*,
.dataGreed [contenteditable="true"]*/

{
    transition: border 0.2s;
    -webkit-transition: border 0.2s;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}

.dataGreed select:focus {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


/* FILTER SEARCH */

.dataGreed .columnFilterAccepted {
    background-color: #d4edda;
}

.dataGreed .filtered {
    backdrop-filter: brightness(95%);
}


/* -- */

.dataGreed .mw75px {
    min-width: 75px;
}


/* -- */

.dataGreed .eraseIcon {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #aaa;
    color: #fff;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
}


/* -- */

.dataGreed mark {
    border-width: 1px;
    border-style: solid;
}


/* -- */

.dataGreed .activeSorting {
    backdrop-filter: brightness(95%);
}


/* -- */

.dataGreedToolBar .jump_page {
    float: left;
    display: inline-flex;
}

.dataGreedToolBar .jump_page select {
    cursor: pointer;
    width: 65px;
    text-align-last: right;
}

.dataGreedToolBar .jump_page select option {
    direction: rtl;
}


/* -- */

.dataGreedToolBar .dropdown-cvisibility {
    margin-bottom: 8px;
    margin-left: 4px;
}

.dataGreedToolBar .dropdown-cvisibility .form-check {
    background-color: transparent;
    padding-left: 10px;
}

.dataGreedToolBar .dropdown-cvisibility .form-check label {
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}

.dataGreedToolBar .dropdown-cvisibility .form-check:hover {
    background-color: #007bff;
}

.dataGreedToolBar .dropdown-cvisibility .form-check:hover label {
    background-color: #007bff;
    color: #fff;
}


/* --- */

.dataGreed th[colspan='0'] {
    display: none;
}


/* -- */

.dataGreed .btn-container {
    position: absolute;
    right: -45px;
}

.dataGreed .btns-cell {
    width: 1px;
    font-size: 1px;
    padding: 0px!important;
    background-color: #dee2e6;
}

@media screen and (max-width: 600px) {
    .dataGreed .btn-container {
        position: relative;
        right: 0px;
    }
    .dataGreed .btns-cell {
        width: 100%;
        font-size: auto;
    }
}


/* -- */

.dataGreed .odd {
    background-color: rgba(0, 0, 0, .05);
}


/* -- */

.dataGreed .extraSwicthOff:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
}

.dataGreed .extraSwicthOn:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #fff transparent;
}

.dataGreed .extraTd,
.dataGreed .extraTd li {
    background-color: #e5f0fa;
}


/* -- */

.dataGreed .emptyTr {
    background-color: rgba(0, 0, 0, .02);
}